{% extends 'core/base.html' %}
{% block content %}
{#<body class="bg-gray-100 h-screen flex items-center justify-center">#}
<div class="bg-white p-8 rounded shadow-md w-full">

    <h1 class="mb-5 text-3xl text-center">Профиль </h1>
        <div class="mt-6 ml-1 text-xl">
            <strong>Почта: </strong>{{ request.user.email }}<br>
            <strong>Имя и Фамилия: </strong>{{ request.user.get_full_name }}<br>
            <strong>Ник: </strong>{{ request.user.username }}<br>
            <small>Дата регистрации: {{ request.user.date_joined }} </small>
        </div>

</div>
<div class="bg-gray-100 w-full">

</div>


{% endblock %}
