{#{% extends 'core/base.html' %}#}
{##}
{#{% block title %}Payout{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">#}
{% csrf_token %}
<input type="email" id="email" placeholder="Email Address" value="{{ request.user.email }}"/>
<input type="number" id="ammount" placeholder="Цена" value="{{ cart.get_total_cost }}"/>

<button id="pay">Pay with Bitcoin</button>
<b> <span id="bitcoinpay"/></b>
<script src="https://blockonomics.co/js/pay_widget.js"></script>
<script>
    function pay() {
        var email = document.getElementById('email').value;
        var ammount = document.getElementById('ammount').value;
        Blockonomics.widget({
            msg_area: 'bitcoinpay',
            uid: '67bbd76a93c64069',
            email: email,
            amount: ammount
        });
    }

    document.getElementById('pay').onclick = function () {
        pay()
    };
</script>
{#    </div>#}

{#{% endblock %}#}