{% extends 'core/base.html' %}
{% block content %}

    <div class="max-w-6xl mx-auto flex flex-wrap px-6 py-6 xl:px-0">
        <div class="images w-full mb-2 lg:mb-0 lg:w-3/5   bg-white rounded shadow-md overflow-hidden">
            <img src="{{ product.image.url }}" alt="Tour Image" class="w-full  object-cover">
        </div>
        <div class="information w-full lg:w-2/5 lg:p-6">
            <h1 class="text-xl font-semibold text-gray-800 mb-2">{{ product.name }}</h1>
            <p class="text-gray-600">{{ product.description }}</p>
            <p class="text-2xl text-blue-600 mt-3">TON {{ product.get_display_price }}</p>
            <p class="text-1xl text-blue-600 mt-3">{{ product.get_city }}</p>
{#            <div class="mb-4">#}
{#            <label for="room-type" class="block text-sm font-medium text-gray-600">Тип номера:</label>#}
{#                <select id="room-type" name="room-type" class="mt-1 p-2 w-full">#}
{#                    <option value="single">Одноместный</option>#}
{#                    <option value="double">Двухместный</option>#}
{#                    <option value="suite">Люкс</option>#}
{#                </select>#}
{#            </div>#}

            <a href="#" hx-get="{% url 'add_to_cart' product.id %}"
               hx-target="#menu-cart-button"
               hx-swap="outerHTML"><p class="text-1xl  text-blue-600 mt-3">Order</p></a>
        </div>
        {#            <div class="bg-gray-100 py-2 text-center">#}
        {#                <a href="#" class="text-blue-600 hover:underline">Learn More</a>#}
        {#            </div>#}

    </div>
{% endblock %}